<div ng-include="'views/header.html'"></div>
<section class="main-content" role="main" ng-controller="PersonCtrl" ng-init="getPlayer()">
	<header class="main-content__header">
		<a href="#/person/{{id}}" class="main-content__back"><i class="entypo-left-open"></i> Tillbaka</a>
		<h1 class="main-content__title-center">Redigera - {{person.name}}</h1>
	</header>
	<form class="edit-person" ng-submit="addNew()">
		<dl>
			<dt class="edit-person__prop">Typ</dt>
			<dd class="edit-person__val">
				<select ng-model="person.type">
					<option value="player">Player</option>
					<option value="coach">Coach</option>
				</select>
			</dd>
			<dt class="edit-person__prop">Namn</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.name"></dd>
			<dt class="edit-person__prop">Profilbild</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.image"></dd>
			<dt class="edit-person__prop">Rank</dt>
			<dd class="edit-person__val">
				<select ng-model="person.rank">
					<option value="1">1 (Sämst)</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5 (Bäst)</option>
				</select>
			</dd>
			<dt class="edit-person__prop">Position</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.position"></dd>
			<dt class="edit-person__prop">Lag</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.team"></dd>
			<dt class="edit-person__prop">Taggar</dt>
			<dd class="edit-person__val">
				<input type="checkbox" ng-repeat-start="cat in categories" ng-model="person.category[cat.title]"><span ng-repeat-end="">{{cat.title}}</span>
			</dd>
			<dt class="edit-person__prop">Status</dt>
			<dd class="edit-person__val"><select ng-model="person.status" ng-options="s.title as s.title for s in statuses"></select></dd>
			<dt class="edit-person__prop">Ålder</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.age"></dd>
			<dt class="edit-person__prop">Moderklubb</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.motherclub"></dd>
			<dt class="edit-person__prop">Längd</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.height"></dd>
			<dt class="edit-person__prop">Vikt</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.weight"></dd>
			<dt class="edit-person__prop">Ansvarig</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.recruiter"></dd>
			<dt class="edit-person__prop">Telefon</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.phone"></dd>
			<dt class="edit-person__prop">Mail</dt>
			<dd class="edit-person__val"><input type="text" class="edit-person__text" ng-model="person.mail"></dd>
		</dl>
		<button type="submit" ng-hide="id">Spara</button>
	</form>
</section>