<header class="site-header">
	<h1 class="site-header__title">GRIFFINS FOOTBALL</h1>
	<a href="" class="site-header__logout" ng-click="logout()">Logga ut</a>
	<nav>
		<ul class="site-nav">
			<li class="site-nav__item active">
				<a href="#/players" class="site-nav__link">
					<i class="entypo-users"></i>
					<p>Spelare</p>
				</a>
			</li>
			<li class="site-nav__item">
				<a href="#/coaches" class="site-nav__link">
					<i class="entypo-graduation-cap"></i>
					<p>Coacher</p>
				</a>
			</li>
			<li class="site-nav__item">
				<a href="#/add" class="site-nav__link">
					<i class="entypo-user-add"></i>
					<p>Lägg till</p>
				</a>
			</li>
			<li class="site-nav__item">
				<a href="#/settings" class="site-nav__link">
					<i class="entypo-cog"></i>
					<p>Inställningar</p>
				</a>
			</li>
		</ul>
	</nav>
</header>