<header class="login-header">
	<h1 class="login-header__title">PRM</h1>
</header>
<form class="login-form ng-pristine ng-valid" ng-controller="LoginCtrl" ng-submit="login()">
	<div class="input-group">
		<label for="email" class="white-form__label"><i class="entypo-user"></i><span class="visuallyhidden">Användare</span></label>
		<input id="email" type="text" class="white-form__text" name="email" ng-model="email" placeholder="Användare">
	</div>
	<div class="input-group">
		<label for="password" class="white-form__label icon-lock"><i class="entypo-lock"></i><span class="visuallyhidden">Lösenord</span></label>
		<input id="password" type="password" class="white-form__text" name="password" ng-model="pass" placeholder="Lösenord">
	</div>
	<button type="submit" class="login-form__submit">Logga in <i class="entypo-right-open-big"></i></button>
</form>