<div ng-include="'views/navigation/nav.html'"></div>
<a href="#/players/add" class="btn btn-default">+ Lägg till spelare</a>
<section ng-controller="PersonCtrl">
	<div class="filter">
		<label for="search-name">Namn</label>
		<input id="search-name"type="text" ng-model="search.name">
		<label for="search-cat">Kategori</label>
		<input id="search-cat"type="text" ng-model="search.category">
		<label for="search-pos">Position</label>
		<select ng-model="search.position" ng-options="pos.title as pos.title for pos in positions | uppercase">
			<option value="">Alla</option>
		</select>
		<label for="search-recruiter">Ansvarig</label>
		<input id="search-recruiter" type="text" ng-model="search.recruiter">
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td ng-click="listOrder='name'; reversed=!reversed;">Namn</td>
				<td ng-click="listOrder='position'; reversed=!reversed;">Position</td>
				<td ng-click="listOrder='team'; reversed=!reversed;">Lag</td>
				<td>Kategori</td>
				<td ng-click="listOrder='status'; reversed=!reversed;">Status</td>
				<td ng-click="listOrder='recruiter'; reversed=!reversed;">Ansvarig</td>
				<td ng-click="listOrder='date'; reversed=!reversed;">Senaste aktivitet</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(index, person) in persons | filter:search | orderBy:listOrder:reversed">
				<td class="capitalize"><a href="#/players/{{person.$id}}">{{person.name}}</a></td>
				<td class="uppercase">{{person.position}}</td>
				<td class="capitalize">{{person.team}}</td>
				<td><span ng-repeat="cat in person.category" class="tag" ng-click="updateSearch(cat);">{{cat.title}}</span></td>
				<td class="capitalize">{{person.status}}</td>
				<td class="uppercase">{{person.recruiter || '-'}}</td>
				<td>{{person.updated_at | date:'yyyy-MM-dd HH:mm'}}</td>
			</tr>
		</tbody>
	</table>
</section>